<!doctype html>
<html lang="en" ng-app="sdmonApp">

<head>
  <meta charset="utf-8">
  <title>AngularJS WebACD</title> 

  <link rel="stylesheet" type="text/css" href="css/sdmon.css">
  
  <script src="js/angular.min.js"></script>
  <script src="js/angular-sanitize.min.js"></script>
  <script src="js/angular-cookie_ivpusic.js"></script>
  <script src="js/sdmoncontroller.js"></script>

  <link rel="stylesheet" type="text/css" href="css/sdmon.css">

</head>

<body ng-controller="SortableTableCtrl" ng-style="{'background-color':bgcolor}">


<ul id="menu">
  <li><a href="#">Options</a>
    <div class="dropdown_5columns">
      <div class="col_1">
        <p class="dropdown_options_titles">Call Holding Alerts</p>

        <input name=beepalert type=checkbox ng-model="audalertselect" ng-change="chgaudalert()">
        <label for="beepalertid">Audible Alert</label>
	<select ng-model="sound" ng-change="chgsndselect()" ng-hide="!audalertselect" style="font-size:0.8em">
          <option value="chime_a.wav">Chime 1</option>
          <option value="chime_b.wav">Chime 2</option>
          <option value="carskid.wav">Car Skid</option>
          <option value="lionroar.wav">Lion</option>
          <option value="meep.wav">Meep</option>
          <option value="phone.wav">Phone</option>
          <option value="shiphorn.wav">Ship Horn</option>
          <option value="ticking.wav">Ticking</option>
          <option value="whistle.wav">Whistle</option>
        </select>

        <br><br>
        <input type=checkbox ng-model="visualalert" ng-change="chgvisalert()">
        Visual Alert<br>
        (Red background)

      </div>

      <div class="col_1">
        <br>
	<input type=checkbox ng-model="multiteam" ng-change="chgmultiteam()">Select Multiple Teams
	<br>
        <input type=checkbox ng-model="s_agtable">Search Agent Table
	<br>
        <input type=checkbox ng-model="r_counter">Show Refresh Counter
	<br>
        <input type=checkbox ng-model="hidesummary">Hide Summary Table
	<br>
        <input type=checkbox ng-model="hidelogout">Hide Logout Agents
	<br><br>
	<button ng-click="setdefaults()">Default Settings</button>
      </div>
      
    </div>
  </li>
  <li><a href="#">Team Info</a>
    <div id="top" class="dropdown_1column">
      <h1 ng-hide="teamselected" style="text-align: center;">Select a Team</h1>
      <button ng:repeat="row in body" ng-hide="teamselected" ng-click="gettitle(row.skill)">{{row.label}}</button><br>
      <div ng-hide="!teamselected" style="text-align: center;">
	<ng-include src="teamtitle"></ng-include>
        <br><button ng-click="gettitle('backtoteams')">Back to Team Selection</button>
      </div>
    </div>
  </li>
  <li><a href="#">Color Scheme</a>
    <div class="dropdown_1column">
      <p class="colorscheme" style="color:blue;">BLUE - No calls holding, at least one person is available.</p>
      <p class="colorscheme" style="color:red;">RED - Call(s) holding, nobody available.</p>
      <p class="colorscheme" style="color:orange;">ORANGE - No calls holding, nobody available.</p>
      <p class="colorscheme" style="color:purple;">PURPLE - Call(s) holding, at least one person is available. Typically, this means a call is ringing, but hasn't been answered.</p>
    </div>
   </li>
  <li><a href="#">Links</a>
    <div class="dropdown_1column">
      <a href="http://www.google.com" target="_blank" style="color:blue">Google</a><br><br> 
    </div>
   </li>
</ul>



<div id="tables_div_padding" style="padding-bottom:200em;"><br>
<div id="tables_div">

<span ng-hide="!s_agtable">Search Agent Table: <input ng-model="agquery">
&nbsp&nbsp(Showing {{(agents | filter:agquery | filter:filterlogout).length}} Agents)
<br><br></span>

<!--
Skill:
<select multiple ng-model="showskills" ng-options="jprow.skill as jprow.label for jprow in body"></select>
<br>
-->

<span ng-hide="!r_counter">
  <a ng-click="manualrefresh()">Refresh Data</a>
  {{refresh_count}}
  <br>
</span>


<table id="summary" class="summary" ng-style="sumtable()" ng-hide="hidesummary">
  <thead>
    <tr>
      <th ng:repeat="key in headorder" ng:class="selectedCls(key)" ng:click="changeSorting(key)" ng-bind-html="head[key]">{{head[key]}}</th>
  </thead>
  
  <tbody>
<!--jptst    <tr ng:repeat="row in body | filter:selectItems | orderBy:sort.column:sort.descending"  style="{{rowcolor(row.callsw, row.availag, row.skill)}}"> -->
    <tr ng:repeat="row in body | filter:selectItems | orderBy:sort.column:sort.descending"  ng-style="rowcolor(row.callsw, row.availag, row.skill)">
      <td ng-click="showagents(row.skill)" style="cursor:pointer">{{row.label}}</td>
      <td>{{row.callsw}}</td>
      <td>{{row.availag}}</td>
      <td>{{row.staffed|num}}</td>
      <td>{{row.oldestcall}}</td>
      <td>{{row.abandoned}}</td>
      <td>{{row.lastupd}}</td>
    </tr>
</tbody>
</table>


<div ng-show="skillid.length" id="AgentDiv">
<!-- jptst <table id="myTable" class="agents" style="{{agtable_nosum()}}"> -->
<table id="myTable" class="agents" ng-style="agtable_nosum()">
  <thead>
    <th ng:repeat="key in agheadorder" ng:class="agselectedCls(key)" ng:click="agchangeSorting(key)" ng-bind-html="aghead[key]">{{aghead[key]}}</th>
  </thead>

  <tbody>
    <!-- jptst <tr ng:repeat="row in agents | filter:agquery | filter:filterlogout | orderBy:agsort.column:agsort.descending"  style="{{agrowcolor(row.status)}}"> -->
    <tr ng:repeat="row in agents | filter:agquery | filter:filterlogout | orderBy:agsort.column:agsort.descending"  ng-style="agrowcolor(row.status)">
      <td>{{row.ext}}</td>
      <td>{{row.status}}</td>
      <td>{{row.name}}</td>
      <td>{{row.timeinstate}}</td>
      <td>{{row.auxstate}}</td>
    </tr>
  </tbody> 

</table>
</div>

</div><!--  End of div surrounding both tables (tables_div) -->
</div><!-- Add some padding to the bottom to stay above buttons -->


<div style="position:relative;"></div> <!-- For the next part, so that it's relative to this div. Othewise, things get a bit skewed -->
<!-- jptst <div id="bottom" style="{{bgcolor}}"> -->
<div id="bottom" ng-style="{'background-color':bgcolor}">
   <!-- jptst<table id="button_table" style="{{btablestyle}}" class="button_table"> -->
   <table id="button_table" ng-style="btablestyle" class="button_table"> 
     <tr ng-repeat="row in buttonarray">
       <!-- jptst<td ng-repeat="button in row.items" ng-click="addremoveskill(button.value)" style="{{btnstyle(button.value)}}">{{button.label}}</td> -->
       <td ng-repeat="button in row.items" ng-click="addremoveskill(button.value)" ng-style="btnstyle(button.value)">{{button.label}}</td> 
     </tr>
   </table>

</div>




</body>
</html>
