<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>JP Test</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script> 
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> 
    <script src="js/controllers.js"></script> 
  </head>

<body>

<div ng-controller="DatepickerDemoCtrl">
    <h4>Popup</h4>
    <div class="row">
	<div class="col-md-2">
	        <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		  <span class="input-group-btn">
		     <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		  </span>
		</p>
		<p>{{format}}</p>
		<p>{{dt | date:'short'}}</p>
	</div>
     </div>
</div>

<br><br>
Search: <input ng-model="jpquery">

<br>
<table ng:controller="SortableTableCtrl">
	<thead>
		<tr>
			<th ng:repeat="(i,th) in head" ng:class="selectedCls(i)" ng:click="changeSorting(i)">{{th}}</th>
		</tr>
	</thead>
        <tbody>
	        <tr ng:repeat="row in body | filter:jpquery | orderBy:sort.column:sort.descending"  style="{{rowcolor(row.d)}}">
			<td ng-click="testalert()" style="cursor:pointer">{{row.a}}</td>
			<td>{{row.b}}</td>
			<td>{{row.c}}</td> 
			<td>{{row.d}}</td> 
		</tr>
	</tbody>
<table>



</body>
</html>


